#titulo
{
	position: absolute;
	top: 21%;
	transform: translateY(0%);
	transform: translateX(+20%);
}

#cv
{
	position: absolute;
	top: 35%;
	transform: translateY(0%);
	transform: translateX(+78%);
}

#topBar
{
	background: lightblue;
	height: 150px;
 	width: 1370px;
	position: absolute;
	top: 0%;
	transform: translateY(0%);
}

#downBar
{
	background: blue;
	height: 150px;
 	width: 1100px;
	position: absolute;
	top: 260%;
	transform: translateY(0%);
}

#explic
{
	margin-left: 0px;
	height: 400px;
	width: 1030px;
	position: absolute;
	top: 43%;
	transform: translateX(20%);
}

#git
{
	margin-left: 0px;
	height: 400px;
	width: 1030px;
	position: absolute;
	top: 45%;
	transform: translateX(20%);
}